<footer>
    <div class="f-info">
       <div class="f-info-socials">
            <p>Follow us on:</p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
       </div>
       <div class="f-info-brand">
            <p>&copy;   2025 Wanderlust.   All rights reserved.</p>
       </div>
       <div class="f-info-links">
        <a href="/privacy">privacy</a>
        <a href="/terms&conditions">Terms&Conditions</a>
       </div>
    </div>
</footer>