<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>

<body>
    <h2>Create new Listing</h2>
    <br><br><br>
    <form method="post" action="/listings">
        <input name="title" placeholder="Enter Title" type="text">
        <br><br>
        <input name="description" placeholder="Enter description" type="text">
        <br><br>
        <input name="image" placeholder="Enter image src/link" type="text">
        <br><br>
        <input name="price" placeholder="Enter price" type="text">
        <br><br>
        <input name="location" placeholder="Enter location" type="text">
        <br><br>
        <input name="country" placeholder="Enter country" type="text">

        <button>Add</button>
    </form>
</body>

</html>